<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>formulario</title>
    <script>
    //let ejs = require("ejs")
    </script>
</head>
<body>
    <form action="/sucess-create" method="post">
        <div>
        nome <br/>
        <input type="text" name="name">
        <br/>sobrenome<br/>
        <input type="text" name="sub_name">
        <br/>idade<br/>
        <input type="number" name="age">
        </div>
        <button type="submit" >enviar</button>
    </form>
    <a href="listUser"><button >lista</button></a>
</body>
</html>