<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>pagina de update</title>
</head>
<body>
    update
    <%= users.name%>
    <form action="/sucess-create" method="post">
    nome:
    <input type="text" name="nome"><br/>
    sobrenome:
    <input type="text" name="sub_name"><br/>
    idade:
    <input type="number"><br/>
    <button type="submit">atualizar</button>
    <button type="reset">limpar</button>
    </form>
</body>
</html>